[2013-04-08 19:53] ainthek opened #1 "UTF-8"
Base64url encoding the bytes of the UTF-8 representation of the JSON Claims Set
where is it in your code please ?

[2013-04-09 05:27] #1 closed, assigned to nobody

[2013-07-31 11:56] ddewaele opened #2 "Support encoding / decoding Google ID tokens"
Hi,

Thanks for creating this library.

Are there any plans to support encoding / decoding Google ID tokens ?
(supporting RS256 and verifying the signature using https://www.googleapis.com/oauth2/v1/certs)

[2013-08-05 08:39] #2 closed, assigned to nobody

[2014-02-11 08:43] Matzu89 opened #5 "Decoding Syntax Errors"

[2014-02-16 23:56] #5 closed, assigned to nobody

[2014-03-12 18:40] thedufer opened #6 "Other algorithms: RS256"
The Google Apps Marketplace only accepts JWTs signed with RS256 ("RSA-SHA256" to node's crypto module).  Any chance of getting that possibility added?

[2014-03-18 13:39] #6 closed, assigned to nobody

[2014-06-13 14:34] jjg opened #8 "Expiration and other intrinsic validation fields"
Are there plans to add tests for token expiration, etc. as described in the RFC?

http://tools.ietf.org/html/draft-ietf-oauth-json-web-token-21#page-9

[2014-07-09 22:05] thomasdashney opened #10 "Async?"
Would it make sense to implement this asynchronously? Unfortunately, Node conventions are to explicitly state synchronous methods (ex. fs.readFileSync) and have methods async by default. I still think it's worth implementing.

[2014-12-07 13:31] Nosherwan opened #12 "Bluebird PromisifyAll throws error"
Hi,
I was trying to promisify jwt-simple api by using bluebirds Promise.promisifyAll method. It does promisify it but at runtime bluebird throws an error as follows:

Possibly unhandled Error: Algorithm not supported
    at Object.jwt_encode [as encode] (/Users/nosh/repos/dineawayserver/node_modules/jwt-simple/lib/jwt.js:114:11)
    at Object.encodeAsync (eval at makeNodePromisifiedEval (/Users/no

[2015-02-17 18:17] petkaantonov commented on #12
The API is not async at all, there is no reason to promisify it. You can just call it:

[code]

[2015-02-18 07:29] hokaccha commented on #12
@petkaantonov That's right. :+1:

[2015-02-18 07:29] #12 closed

[2015-04-01 16:41] nethermead opened #14 "Add a verify(token, algorithm, verificationKey) method as per this posting regarding vulnerabilities in jwt: https://auth0.com/blog/2015/03/31/critical-vulnerabilities-in-json-web-token-libraries/"

[2015-04-01 16:44] nethermead commented on #14
It's good that you don't support the 'none' algorithm as per the JWT spec, but if the algorithm used can't be enforced by the server, exploits are feasible.

[2015-04-03 18:29] pashtika opened #15 "How to decode JWT (JSON Web Token) token string?"
Could you please provide sample example ?

[2015-04-08 07:48] DanPantry commented on #15
An example is given in the `README.md`

[code]

[2015-04-08 14:31] hokaccha commented on #15
@DanPantry Thank you for your support!

[2015-04-08 14:31] #15 closed

[2015-04-18 18:16] waynebloss opened #17 "Different than auth0/node-jsonwebtoken?"
Hello, just curious if you created this because you didn't want to use the https://github.com/auth0/node-jsonwebtoken library? Thanks.

[2015-04-18 18:17] waynebloss commented on #17
Oh, nevermind - I see that yours is actually older than that one. Sorry about that.

[2015-04-18 18:17] #17 closed

[2015-05-06 20:36] samholmes opened #19 "Documentation uses payload when it should be claim"
The JWT spec calls this "payload" a "claim". You're documentation should use this convention to not confuse the subject.

[2015-06-09 15:44] thedufer commented on #14
Looks like this can be closed as per #16

[2015-07-14 16:01] arikalfus opened #21 "error when signing with RS256: error:0906D06C:PEM routines:PEM_read_bio:no start line"
I get this stack trace when signing a token with a non-default (yet supposedly supported) signing algorithm:
`jwt.encode(payload, secret, 'RS256')`

This is the stack trace, modified to remove my personal directory path:

[code]

I've verified that every other signing algorithm succeeds, except for RS256.

[2015-07-22 18:56] #21 closed

[2015-09-04 13:57] edouardbrossette opened #24 "Security sniff token"
Without change in the payload,  the token key will remain identic over time. If an attacker sniff the token, he will keep access. Propose to add an automatic dynamic var in the payload. For example  an iat ("issued at) base on time. This will make the token string change, but this is not enough because the old key will still validate. The best way is to make a Server validation that the token rece

[2015-10-27 07:46] ORESoftware opened #25 "can't catch exceptions"
For some reason I can't catch exceptions like so:

[code]

is this expected?

[2015-10-28 13:23] hokaccha commented on #25
You may catch exceptions. In my case:

[code]

[code]

[2015-10-28 18:09] ORESoftware commented on #25
yeah, you're right, it was my mistake

[2015-10-31 07:28] #25 closed

[2015-11-05 15:31] MichielDeMey commented on #19
Correct, the body consists of one or multiple claims.
However, since - beside the registered claim names - you can add any claim (JSON property) you want, it does make sense to name it 'payload'.

Most JWT packages I've used name it 'payload', some use 'claims'. It's up for discussion.

[2015-11-05 19:31] sincerekamal opened #26 "JWT Tokens are decodable with Secret key"
Hello,
   I love the concept of JWT. I have been using jwt-simple for almost 7-8 months. But my bad, I didn't figured out this problem till yesterday. The problem is that the auth tokens created by app server are decomposable(or disposable) from http://jwt.io/ .So how does it protects ?

[2015-11-06 17:47] kentmw commented on #26
My understanding is that you can decode the payload and the header fairly easily - just a base64 encoding. That's not really the point of the jwt though. If you want something to be un-decodable, jwt isn't it (though, make sure you're still sending requests over https). It's the matter of verifying that the data inside the jwt was true to what was produced by the server.

Take for instance a jwt:

[2015-11-06 17:53] kentmw opened #27 "Authentication header required?"
I have been reading about jwt and a few times there has been mention of using the http header ```Authentication``` to pass the jwt token to the server. This is especially true when reading about angular and jwt. Yet, I've been using a custom header: ```x-access-token```.

I'm wondering if there is a reason to switch to this header. The documentation about the Authentication header http://tools.iet

[2015-11-26 19:58] justhamade commented on #24
https://github.com/auth0/node-jsonwebtoken includes an iat by default.

[2015-12-18 09:50] somsharan opened #29 "Error Handling??"
It would be better if we had better error handling process.
Instead of throwing the error we can return it in the response to function call.?

[2015-12-19 23:59] MastaBaba opened #30 "How to use in Meteor?"
The meteor package at https://atmospherejs.com/outatime/jwt-simple has an example that, when implemented, returns:

Exception from Tracker afterFlush function:
ReferenceError: require is not defined

How to use this inside Meteor?

[2015-12-20 03:37] NathanRSmith commented on #24
You are free to put whatever information you want in the payload, including an iat.

[2016-01-04 16:24] clayreimann opened #31 "Missing features for 1.0?"
What's still left to do?

[2016-01-12 17:19] iarroyo5 commented on #29
This pull request could solved this problem.
https://github.com/hokaccha/node-jwt-simple/pull/33

[2016-01-22 02:14] Incubatio commented on #29
@somsharan How is putting error in response bringing being better error handling ?
Everything is synchronous, throwing an Error in a case like this seem pretty standard.

@iarroyo5 #33 isn't solving somsharran request.

[2016-01-22 13:29] hokaccha commented on #29
+1

I think returning error object is not standard in JavaScript. You should use `try-catch`.

[2016-01-22 13:29] #29 closed

[2016-02-04 18:19] markohaapala opened #35 "HS512 broken?"
Hi,

Is HS512 broken or am I missing something? I'm using 0.4.1 from NPM.

[code]

[2016-02-06 06:56] hokaccha commented on #35
The `jwt.decode`'s third argument is `noVerify`.

[code]

Document is not enough...

Usually, you don't need to specify a algorithm because it is included in token.

[code]

If you need to specify it, you can write as below.

[code]

[2016-02-13 01:12] benbotto commented on #14
Passing the algorithm should be shown in the readme, which someone has already recommend in #16.  (In my opinion passing the algorithm should be required.)  This issue caused a fairly severe security hole in my application because I use RS256.

[2016-02-18 03:57] myusrn opened #37 "how do i enable for systemjs based import in cordova ng2 project"
is there a way to enable import of this package in systemjs based cordova ng2 project?

e.g. import {<exported class>} from 'jwt-simple'

[2016-02-18 10:54] hokaccha commented on #37
I don't know about `cordova ng2` :persevere:

Please ask the community of `cordova ng2` how to import general npm modules.

[2016-02-18 10:54] #37 closed

[2016-03-02 16:38] bjrmatos commented on #35
would you like some PR documenting the new params in `decode`?

[2016-03-06 22:27] hokaccha commented on #35
@bjrmatos Yes, sounds good!

[2016-03-11 14:46] hokaccha commented on #8
fixed by #38

[2016-03-11 14:46] #8 closed

[2016-04-22 09:22] raboof opened #40 "Document how to encode the secret"
It might be nice to document how the secret should be encoded, and how to generate a good secret from e.g. /dev/random

[2016-05-05 15:39] albertoig opened #44 "Document posible errors on decode and encode functions"
Could be fine to document these errors to handle it better in other developments that use this library. What do you think about it? i don't mind to do it.

[2016-06-14 19:14] Kequc commented on #26
The payload of the jwt is unprotected, however  the library validates that the content of the payload has not been tampered with. This means anyone can see the payload of the token, but on the server your application will know whether or not the content of the token has been changed.

Please correct me if I have misunderstood something.

[2016-06-16 12:10] enVolt opened #46 "how to alter header"
I want to alter the header of jwt token. Is it possible to do this using this library?
My use-case is I've two types of token, and I want to distinguish between them. Last resort is to include a key in payload itself, which I don't feel comfortable with.

[2016-06-16 12:25] alexjab commented on #46
I think you should put it in the token payload anyway (in the "claims"). That's what the payload is for, IMHO.

According to the RFC, the JWT header is meant for cryptographic information:
[code]

Regarding the payload:
[code]

You can get a list of registered claim names [here](https://tools.ietf.org/html/rfc7519#section-4.1). Just don't use one that's already registered, and you should be fine w

[2016-06-24 16:41] Univac1107 opened #47 "Decode tokens without secret"
You are supposed to be able to decode the token without the secret. The token is not encrypted, it is just signed. I should be able to get the token's contents, and to verify the signature validity using the secret. independently. Am I missing something?

[2016-07-09 09:00] dvv opened #48 "verify should be constant-time"
http://codereview.stackexchange.com/questions/13512/constant-time-string-comparision-in-php-to-prevent-timing-attacks

Please consider

[2016-07-16 17:07] bdunn44 commented on #47
I'm pretty sure the JWT spec states the payload is base 64 encoded, but I'm just getting started with JWT and jwt-simple. It should be trivial to decode it yourself (and add it to this module at some point).

[2016-08-09 13:59] 4nduril opened #49 "Order of header fields"
I know that properties of objects do not have a deterministic order (in theory). But when I `JSON.stringify` that object I have a relevant order of bytes or characters. Which becomes a problem when hashing that string. Suddenly,
[code]
is not same as
[code]
In a current project I have the problem that we have JWTs created by some Java classes and I want to use jws-simple to make the Javascript cou

[2016-08-09 14:48] alexjab commented on #49
I don't think there should be any problem. When checking the signature, the library always uses the raw input token which is a base64ed stringified Object, not the Object itself.

https://github.com/hokaccha/node-jwt-simple/blob/master/lib/jwt.js#L96

If this is not clear, you can provided a more detailed use case.

[2016-08-10 07:36] 4nduril commented on #49
Ok, so given the to Object literals above. Let's say the first is called `a` and the second is `b`. Then I do:
[code]
then
[code]
and more importantly:
[code]

This is a real problem.

[2016-08-10 08:46] alexjab commented on #49
I'm not sure I understand what you are trying to prove with the last piece of code. Do you have a real-life system that operates this way ? Because that is not how signature validation works.

Here is a simple example:
Let's say `jsonA / sigA` and `jsonB / sigB` are produced by two different implementations, on two different systems, and they both need to be validated in the same auth system (here

[2016-08-10 10:29] 4nduril commented on #49
Oh my. You're totally right, of course. I had real big knot in my brain. Thank you very much for untying it.

[2016-08-10 10:29] #49 closed

[2016-08-10 12:29] alexjab commented on #49
=)

That said, you've raised a valid and interesting point about "signing" Objects in general.

[2016-08-10 18:55] aroramayur opened #50 "Default Expiration Time"
Does this offer a default 'exp' ? How does one set it  (both iat and exp ). I can set iat easily. How do I set 'exp' to say 5 hours after 'iat' ? There's just documentation , no explanation.

[2016-08-10 20:43] alexjab commented on #50
Hi,

1/ There is no default `exp`,
2/ With native js:
[code]
With moment.js:
[code]

BTW, what you are asking is vanilla js, not actually specific to jwt.

Here is more information on the timestamp format for those fields:
https://tools.ietf.org/html/rfc7519#section-2

You are right about the documentation, these could do with a little help.

[2016-08-10 20:51] alexjab commented on #47
Hi,

the third option of `jwt.decode` is `noVerify`. If set to `true`, it just returns the payload as an `Object`.

https://github.com/hokaccha/node-jwt-simple/blob/master/lib/jwt.js#L58

That said, you can get an `Object` from the token very easily by hand:
[code]

[2016-10-19 07:04] mrvipin commented on #50
how to add expires time in jwt-simple.

[2016-11-03 21:16] kmgilbert100 commented on #50
^

[2016-11-04 16:31] richardhyatt opened #51 "RS256 using a passphrase"
Would it be possible to add an option that would allow the use of a passphrase to decode the private key when using `RS256`?

Something like:
[code]

I can create a patch for this functionality and submit a pull request if it would get included in the next release.

[2016-11-29 11:23] SHAPPY0 opened #54 "Passport Authenticate function is not working"
Hi all,
I am creating token using `jwt-simple` node module at the time of login.
below is my code:

    apiRoutes.put('/login', function(req, res, next){
      User.findOne({email:req.body.email}, function(err, user){
        bcrypt.compare(req.body.password, user.password, function(err, result){
           if(result){
            var token=jwt.encode(user,config.secret);
            return res.js

[2016-12-05 12:39] antoligy opened #55 "Ability to replace crypto import"
Hey,

My use-case is that I'm using `react-native` which doesn't currently ship with an implementation for the `crypto` runtime.  I was wondering if it'd be possible, or if contributions would be welcome to, allow at runtime the import of `crypto` to be replaced with a shim?

Currently {react-native-jwt](https://github.com/StanScates/react-native-jwt) exists which does this, however this is not id

[2016-12-06 23:59] izanagi1995 opened #56 "jti?"
Hello,

Can I use `jti` to revoke tokens? If yes, can I set it and read it in your module?

Thank you

[2016-12-14 15:45] AlexandreHagen commented on #51
Ping @hokaccha

[2016-12-27 17:04] sethkoch commented on #26
The only way one can tamper with a JWT is if they know the secret stored on your server.  At that point, they can do what they like with the JWT and it will pass validation.

[2016-12-29 14:03] suvradip commented on #50
@mrvipin , you need to set
jwt.encode({ nbf: Date.now(), exp: Date.now() + 900000}, "secretKey");

[2017-01-04 07:51] maotora commented on #54
Hi, @SHAPPY0 .

I have the exact same problem. Lets try to ask on stackoverflow and see if there is any response.
I'm using `koa` and i also tried to `console.log` the decoded token in `passport-jwt` and got something different from my `user._id` which was the token payload.

I also tried to decode the token in someother route without using `passport-jwt` middleware and i kept on getting `Not enou

[2017-01-04 09:11] SHAPPY0 commented on #54
Hi @maotora .
I solved this issue by changing in getToken function like below.

getToken = function (headers) {
if (headers && headers.authorization) {
return headers.authorization;
} else {
return null;
}
};

and now API  code for user Authenticate is below

  apiRoutes.get('/authentication',function(req, res) {
  var token=getToken(req.headers);
  console.log("/auth" +token);
  if(token){
    va

[2017-01-04 11:02] maotora commented on #54
@SHAPPY0 From your code i got an idea to `jwt.decode(token, secret)` and see if it is the `userId` and it proved not to be.

First it threw a verification error so i had to (*In a different route*) `jwt.decode(token, secret, true)` to disallow verification and this brought back **modified userId** which my app don't recognize.

I'm not sure how it got changed and how i can fix this, but at least a

[2017-01-04 11:21] SHAPPY0 commented on #54
Can u try without KOA????
Try once using this passport-jwt-strategy

var JwtStrategy   =require('passport-jwt').Strategy;
ExtractJwt = require('passport-jwt').ExtractJwt;
var User          =require('../app/models/usermodel');
var config        =require('../config/database');

module.exports=function(passport){
    var opts = {};
    opts.jwtFromRequest = ExtractJwt.fromAuthHeader();
  opts.secretO

[2017-01-04 17:25] maotora commented on #54
It worked!

I was doing something very wrong without noticing.

I passed a hardcorded `authorization` key on postman and i naively thought that the server will update the headers of postman (*Imagine that!*)

So the request was always passed with an outdated authorization key and it kept on failing.

I also didn't know something very important, that tokens are returned so to be used in xhr (ajax c

[2017-01-04 22:28] alexjab commented on #54
Hi, both of you, glad you could solve the issue you encountered.

I jump in the conversation a bit late (I was on the road), but here is a couple of thoughts and advice about your problem and the code you provided:
 - I felt like the problems you described has little to do with `jwt-simple`,
 - do not forget that `jwt.decode` *throws* errors if the token is invalid, so you should update your code

[2017-01-05 05:05] SHAPPY0 commented on #54
Hi @alexjab,
Thanks for your suggestions. I will do what ever you told us. If there will be any issue then I will get back to you.

[2017-01-18 21:02] gutasaputra opened #58 "how to pass jwt token using postman"
hi, im new using jwt auth.
i already generated jwt token by simply passing username and password using postman.
but i dont know how to pass the token that i have to access my restricted page via postman.
ideally, we can only access this page, if we already have the token.

i try like this
<img width="960" alt="screen shot 2017-01-19 at 4 01 01 am" src="https://cloud.githubusercontent.com/assets/15

[2017-01-18 21:10] alexjab commented on #58
1/ The controller for your restricted page must implement a way to decode the token (usually, your routes will be protected by an authentication middleware),
2/ You must send your token in accordance with the way you intend to decode it,
3/ Usually the token is sent in the headers, but sometimes it is also passed as a url query parameter (according to the RFC http://self-issued.info/docs/draft-iet

[2017-01-20 18:12] gutasaputra commented on #58
hi, thanks for the reply.
actually, i follow this tutorial :
https://blog.jscrambler.com/implementing-jwt-using-passport/

then i mix it with your solution.
with your code, i can get the token that i generated with jwt.

in my restricted page, i can get my token.
but everytime i use this method,  auth.authenticate()
i will always got Unauthorized error msg.

i dont understand. can you pls help me

[2017-02-03 15:01] Grundmanis opened #61 "Encoding result with the same secret key and value is different on ios and linux"
Making app on react native for both os, so I got this issue. Ive tried to use different algorithms, but it does not helped me..

[2017-02-07 07:08] Grundmanis commented on #61
Any ideas?

[2017-02-07 13:05] jakoblorz commented on #50
@suvradip does this then mean that the token expires **after 900 seconds**? because in the decode function exp will be **multiplied by 1000** - that doesn't make sense to me

[2017-02-07 13:12] alexjab commented on #50
According to the RFC, `nbf` and `exp` must be POSIX timestamps (in seconds), thus the example provided by @suvradip is incorrect (not false _per se_, the token will just be valid and expire in the year ~50K).

[2017-02-07 13:18] alexjab commented on #56
Just add a `jti` claim in the payload. From what I've understood, `jti` is just a standard claim name for a unique identifier (I guess you could have `id`, `_id`, `uid`, etc...).

About revocation, I guess you'll have to implement that logic server-side, and I don't think it should be the responsibility of a `jwt` module.

[2017-02-07 13:23] jakoblorz commented on #50
@alexjab @suvradip so the right snippet would be
`jwt.encode({ nbf: (Date.now() / 1000), exp: ((Date.now() / 1000) + seconds) }, 'key');` where `seconds` represent the duration until expiration in seconds?

[2017-02-07 13:31] alexjab commented on #50
Seems about right. I'd use moment.js to do Date manipulations, though. You can see my first example.

[2017-02-07 13:32] alexjab commented on #50
Also, in your case `nbf` is purely informative, and in no way necessary to implement expiration.

[2017-02-13 20:52] web-surfer opened #63 "Make JWT one-time use?"
I'm using JWT-simple to help make a confirmation email. That is to say, when a user registers for an account, they are sent an email, where they need to click a button to confirm their email address. On click, a URL with the JWT is sent to my server.

My question is: is there a way to make the JWT one-time use? As in, have it expire after the JWT has been sent to the server once?

[2017-02-14 09:12] alexjab commented on #63
Hi, I've also implemented a jwt-based email validation. Here is how I did it:
 - when the user signs up, they are created in my db with a field `state: pending` (or anything like that),
 - then, an email is sent to the user containing an url with a JWT (generated using a key different from the one that generates authentication tokens); this token has a short (minutes or hours) expiration date, and

[2017-02-15 04:33] web-surfer commented on #63
Thank you for all that. This is roughly how I was going to set my email verification up, and your explanation cleared up some minor points for me.

[2017-02-16 13:11] AlexandreHagen commented on #51
Ping @hokaccha

[2017-02-19 12:32] hokaccha opened #64 "Looking for maintainer"
I created this module five years ago. At that time I needed this module, but now it is not. However, there are many people who are using this module.

Since it's difficult for me to continually improve in the future, I'm looking for maintainer. I think @alexjab is good. He constantly responded to issues and reviewed pull requests.

@alexjab Are you interested?

[2017-02-22 07:51] alexjab commented on #64
@hokaccha : sorry for the delay, I had a lot on my plate at work =)

Why not, that could be an interesting experience. That said, I'd like you to still stick around a bit in case I have questions and suggestions =)

[2017-02-24 13:05] hokaccha commented on #64
@alexjab Thank you for your cooperation.

Sure, I will.

I added you to the collaborator in this repository. Thank you.

[2017-02-24 13:05] #64 closed

[2017-02-25 23:57] shanemcgraw commented on #58
Hey @gutasaputra. I ran into the same issue myself and just figured it out. The 401 status could be due to a couple of things:

1) It could be that the signed JWT you're passing is expiring before you can check it with postman, and you simply need to set the expiration param to an obnoxiously longer time for testing, like so:
         `var payload = {
              id: userObject.id,

[2017-04-06 07:34] nitinmukesh opened #65 "Unable to use RSA keys"
Hello,

I integrated JWT token in my project and it is working fine. The token is generated using jwtSecret variable which contains simple string. I want to use RSA key instead of simple string.

I generated key using

[code]

[code]

The issue is as soon as I uncomment one of the following Approach it start to throw error "Unauthorized". I am not sure how to fix this.

/*Approach 1*/
//var token1

[2017-04-06 08:42] alexjab commented on #65
Hi,

my best guess is because you made in mistake when calling `jwt-simple` in your two approaches. The parameters you passed actually belong to the module `jsonwebtoken`, not `jwt-simple`. What you would need to do is `jwt.encode(payload, cfg.jwtSecret, 'RS256')`.

The reason you get a 401 is because you `catch` handles errors by returning a 401. IMHO, this is an anti-pattern, and should return a

[2017-04-07 08:19] alexjab commented on #63
Hi,

has your question been fully answered so far ? If so, may I close this issue ?

Thank you.

[2017-04-07 08:20] alexjab commented on #58
Hi,

this issue has been opened for quite some time, so if there is nothing more you would like to ask or add, I'd like to close it.

Thank you,

Alex

[2017-04-07 08:22] alexjab commented on #54
Hi both,

this issue has been opened for quite some time right now, and has not been really active since then. If this is ok for you, I'd like to close it.

Thank you,

Alex

[2017-04-07 08:24] alexjab commented on #47
Hi,

this issue has been opened for quite some time, and has not been updated since then, so I'd like to close it, if you don't have anything to add / ask.

Thank you,

Alex

[2017-04-11 14:01] zopthemop commented on #61
This is happening for us in Edge too, but it seems to repeat the last 3 letters of the token before appending AAAAA.

Tokens generated in Edge:
[code]

Tokens generated in Chrome:
[code]

Hope this can be fixed, because right now we can't continue using the library without some really ugly hacks.

[2017-04-11 14:30] zopthemop commented on #61
Seems to be due to a hard-to-reproduce bug in crypto-browserify/createHmac, see issue: https://github.com/crypto-browserify/createHmac/issues/12

[2017-04-28 07:27] alexjab commented on #65
Hi @nitinmukesh Can I close this issue ?

[2017-04-28 07:28] alexjab commented on #56
Hi @izanagi1995 Can I close this issue ?

[2017-04-28 07:30] alexjab commented on #50
Hi all,

@aroramayur Can I close this issue ?

[2017-04-28 07:31] alexjab commented on #46
Hi @enVolt Can I close this issue ?

[2017-04-28 07:32] alexjab commented on #35
Hi @bjrmatos Can I close this issue ?

[2017-04-28 07:34] izanagi1995 commented on #56
Yes!

[2017-04-28 07:34] #56 closed

[2017-04-28 07:34] alexjab commented on #56
Thank you !

[2017-04-28 08:42] alexjab commented on #30
Hi @MastaBaba This issue is quite old, and has not been updated for over a year. Can I close it ?

[2017-04-28 08:46] enVolt commented on #46
I went with last resort approach. Thanks. This pull request can be closed now.

[2017-04-28 08:46] #46 closed

[2017-04-28 11:53] aroramayur commented on #50
Sure

Thanks
Mayur Arora

On Fri, Apr 28, 2017 at 1:00 PM, Alex Jablon <notifications@github.com>
wrote:

[2017-04-28 11:54] #50 closed

[2017-04-28 14:59] MastaBaba commented on #30
Hmmmm. I suppose. I sadly don't remember how I dealt with that. :/
I'll close this now.

[2017-04-28 14:59] #30 closed

[2017-04-28 16:16] bjrmatos commented on #35
@alexjab sure!

[2017-04-28 16:17] #35 closed

[2017-05-12 16:32] alexjab commented on #63
I'm closing the issue, feel free to re-open it if you need anything else.

[2017-05-12 16:32] #63 closed

[2017-05-12 16:32] alexjab commented on #58
I'm closing the issue, feel free to re-open it if you need anything else.

[2017-05-12 16:32] #58 closed

[2017-05-12 16:33] alexjab commented on #65
I'm closing the issue, feel free to re-open it if you need anything else.

[2017-05-12 16:33] #65 closed

[2017-05-12 16:33] alexjab commented on #47
I'm closing the issue, feel free to re-open it if you need anything else.

[2017-05-12 16:33] #47 closed

[2017-05-12 16:34] alexjab commented on #54
I'm closing the issue, feel free to re-open it if you need anything else.

[2017-05-12 16:34] #54 closed

[2017-05-26 22:44] cbartondock opened #68 "Version of OpenSSL JWT is using under the hood has a lot of trouble with RSA Key Pair Formats"
I keep getting the following error:

Error: error:0906D06C:PEM routines:PEM_read_bio:no start line
    at Error (native)
    at Sign.sign (crypto.js:283:26)
    ...

I am creating the key pair as follows:
`openssl genrsa -out private.pem 2048`
`openssl rsa -in private.pem -pubout -outform PEM -out public.pem`

using them in a simple test via:
`var data_asym_encrypted=jwt.encode(data, fs.readFileSy

[2017-05-27 20:35] alexjab commented on #68
Hi @cbartondock ,

There are a couple of mistakes in your code that prevent it from running:
1/ you used a public key to encode a token, an then a private key to decode it. It should be the opposite, the private key should encode, and the public should decode,
2/ The path for the private key is invalid, it should be `./private.pem`,
3/ The third argument for `decode` should be `false` if you need

[2017-05-31 19:55] zeg-io opened #69 "Error handling"
What is the preferred method for handling errors?

I'd rather not just allow 500 errors to be returned by default, especially for stuff that has to do with expired tokens and the like.

It _seems_ as though the internal code is just throwing Errors for everything.  I'd also rather not try-catch the errors if possible...

Maybe I've misunderstood something?

[2017-05-31 20:04] alexjab commented on #69
Hi,

all the errors thrown when *decoding* are due to invalid or expired tokens being passed by the **user**. So you can handle those by returning an error 401.

On the other hand, all the errors thrown when *encoding* a token, are due to you, the developer. These you should handle as error 500, because they should not happen, and let your error reporter warn you.

A good pattern:

 - catch any er

[2017-05-31 20:16] zeg-io commented on #69
@alexjab Thank you for the considered response.  Perhaps I was less than clear.

I understand how to return errors and that, in fact the decoding should be returning 401's.

It seems to me based on the internal jwt.decode function that it is just throwing errors as message strings rather than providing reasons or a status.

For example:
* if there is an actual unhandled error, I'd expect an error

[2017-05-31 20:31] alexjab commented on #69
Hi,

thanks for the clarification.

This library has a quite decent test suite, and I assume that your code does too. The former more or less guarantees that the library can not have an unexpected behaviour, and the latest that your implementation is correct.

On the other hand, what I wrote is usually easier said than done, and errors might happen regardless. One way to ensure than no error goes

[2017-05-31 21:26] zeg-io commented on #69
@alexjab thanks for the clarification.

I don't claim to be super knowledgeable but it is my understanding at a high level that basically we (developers) want to have all failures bubble up to a higher level.

I don't consider correctly identifying an expired jwt to be a failure, nor even an error, just a different state of a successful operation if that makes sense.

I have further been told, and

[2017-05-31 21:57] alexjab commented on #69
Hum I have never heard of issues regarding `try...catch`, but if you can find sources or articles that explain this in greater detail I would definitely be interested in knowing more about the reasons behind this.

A possible solution would be (again, like Joi does) to be have two methods, one that returns an error, and one (as it is currently done) that throws. If you need something like this, I'

[2017-06-01 08:35] oxygen commented on #68
@alexjab
_you used a public key to encode a token, an then a private key to decode it. It should be the opposite, the private key should encode, and the public should decode,_

Dude :)
Public keys encode, private key decodes.

It is also common sense!!! How could the public key (the one that everyone knows) decode the stuff you are trying to protect?

[2017-06-01 08:51] alexjab commented on #68
Well, you are not *protecting* data, you are **validating** it. All the data you are sending in JWTs is in clear-text anyway (it's just base64).

Here is how it works:
 - upon successful connection, the server encodes a token using the private key. It needs to be the private key so that no-one can impersonate the server and issue forged tokens,
 - when the client needs to authenticate, they send t

[2017-06-01 09:15] oxygen commented on #68
Here's a professional vocabulary lesson, so we can communicate:

I think by "encode" you mean hashing, not encryption. So you mean signature. JWT has base64 encoding, which has nothing to do with your "private key". The JWT payload is signed and signature is concatenated to the JWT token.

The "private key" you are problably referring to is commonly known as a salt. Salts are the secret stuff when

[2017-06-01 09:31] oxygen commented on #68
But don't take my word for it, first google search result:

https://connect2id.com/products/nimbus-jose-jwt/examples/jwt-with-rsa-encryption

[2017-06-01 09:35] alexjab commented on #68
Right, this module cannot do RSA encryption, only RSA signature.

https://connect2id.com/products/nimbus-jose-jwt/examples/jwt-with-rsa-signature

[2017-06-01 20:28] zeg-io commented on #69
https://github.com/petkaantonov/bluebird/wiki/Optimization-killers

Looks like they have since fixed the issue and my source didn't realize it :)

[2017-08-31 20:59] #24 closed

[2017-09-30 17:57] tekkenking commented on #58
Am running wampserver 3.0.9
Apache 2.4.27
PHP 7.1.8

Implementing all the suggested header solutions in htaccess, still not working..

Still looking for solution. Please

[2017-10-20 15:10] phong-et opened #73 "Do you have version for web browser ?"
I see some node modules have a link for web browser like that : https://github.com/ricmoo/aes-js
Because your module is very simple, i need a file can work on web browser
How do I get it ? Can you help me ? Thanks :)

[2017-11-28 15:22] Lzok opened #74 "Expiration time. Is not working properly?"
Hello all. Like the title said, I am experimenting problems with the token's expiration time. I red the related issue #50 and tried the examples there but they don't work for me (I think). This is what I am doing:

[code]

Am I doing something wrong?

Cheers.

[2017-11-28 15:25] alexjab commented on #74
Hi thanks for the inquiry =)

`options` (last parameter) does not take payload claims. You should put them directly in the payload.

Example:
[code]

BR,

Alex

[2017-11-28 16:22] Lzok commented on #74
@alexjab Yes, you are right! Now it's working.

You can close the issue, thanks.

[2017-11-28 16:23] #74 closed

[2017-11-30 11:09] Teukros opened #75 "Custom algorithm"
I want to use this package in the new project, but in some cases we use our own custom algorithm. Would you accept adding some logic that allows to register new algorithm?

[2017-12-02 11:15] Miwrzezl opened #76 "Unexpected token % in JSON at position 0"
I've been using jwt-simple for a while now, and it works flawlessly! Until when I need to add it to a WebSocket.

I'm getting the following error from `jwt.decode(token, secret)`
[code]

The token is correct, as it works with everything else. Is `passport.authenticate` required? if so, How would I go about adding it as a callback function rather than implementing it via `app.<action>('/pth', passp

[2017-12-12 16:58] Lzok opened #77 "Logout functionality."
Helllo guys.
Is there any way to revoke the token before it expires? To implement the logout function.

Thanks!

[2017-12-13 09:54] alexjab commented on #77
Hi,

JWTs are stateless and client side, so there is no simple way to "actively" revoke them.

Here are a couple of ways you can do it anyway:
 - add a `jti` (JWT id) claim to your token stored in your backend (db or cache),
 - set a short `exp` claim (the more critical your application, the shorter it should be),
 - every time your client tries to refresh the token (should be around expiration ti

[2017-12-14 12:15] Lzok commented on #77
@alexjab Thank you for the ideas!
Have a good day.

Closing issue.

[2017-12-14 12:15] #77 closed

[2018-01-18 11:26] pranoysp opened #79 "How can I extend token expiry in active state?"
I need to update token expiry time when user keep on calling APIs.
If the user inactive for some set of time/days, then only token expiry should work.
I haven't seen any method to extend token expiry in the given jwt-simple npm framework.

[2018-03-12 11:13] Sangrene commented on #79
Store datetime in the token payload ? That's the easiest way to manipulate it.

[2018-03-15 15:46] fsabreu commented on #76
Can you resolve this?

I with same problem

[2018-03-18 02:55] icetee commented on #76
@rekkisomo @fsabreu
You token maybe begin `JWT ...`, it has to be delete.

`const payload = jwt.decode(token.replace('JWT ', ''), secret)`

[2018-03-25 17:10] kedicesur opened #80 "Expires On (exp) and Not Before (nbf) should be properties of options instead of payload."
At the moment `payload` has to be an object but it could have been a primitive type like `String` or `Number`. Besides I think it would better to provide `exp` and `nbf` as properites of `options` argument of the `encode` function which would yield them to reside in the header of the JWT. This change might yield breaking of the previous versions but I think it is worthwhile.

[2018-03-28 09:49] #80 closed

[2018-04-11 15:59] zeg-io opened #81 "My client uses ES256, how difficult would it be to implement that?"
I know it currently isn't supported

[2018-05-24 21:30] yunfan141 commented on #21
same problem with you!
other algorithms succeed!

[2018-07-10 15:08] miguelaeh opened #82 "Error differentiation"
I needed the type of error that occurred in the coding and decoding of the tokens to implement oAuth 2 so I created a module that is an extension of this and emits different errors depending on what happens, so that you can identify the error in the code in a simple way. For example, differentiate between an expired token or an invalid token.
URL: https://www.npmjs.com/package/jwt-simple-error-ide

[2018-07-10 17:42] miguelaeh commented on #69
You can use jwt-simple-error-identify that throw diferents error for each case

[2018-07-10 17:47] miguelaeh commented on #69
I had the same problem and I created a module based in jwt-simple that allow you to use the instanceof operator to know the type of the error.
https://www.npmjs.com/package/jwt-simple-error-identify

[2018-07-24 17:18] satishsojitra commented on #69
I added like this:

     `  try{
            var decoded = jwt.decode(token, secret);
        }catch(error){
            console.log(error.message);
            if(error.message == "Signature verification failed") resolve(false);
        }       `

[2018-08-13 16:07] GuidoVarga commented on #58
Hi. I suppose you already solved it. Anyway, I bring the solution for anyone who needs it.
Your header should look like this.

![header](https://user-images.githubusercontent.com/21971429/44043667-cbc1b904-9ef9-11e8-994f-95214f38eaa2.png)

[2018-08-16 21:58] KeitelDOG commented on #58
I was using an android package "codepath android-oauth-handler", and I just added a header to the request `getClient().addHeader("Authorization", "Bearer " + bearerTokenString);` , and it worked with the `auth:api` middleware.

[2018-08-28 23:44] Sporky023 commented on #58
@GuidoVarga I am using a header like that, specifically in this format:

[code]

and postman is failing on a GET request with the error `Error: The header content contains invalid characters`.

If I remove the dots from the JWT, Postman sends the request just fine and a breakpoint on my server is reached.

The options I'm looking at are:

1.  Reconfigure Postman to stop complaining about dots in t

[2018-08-29 00:05] Sporky023 commented on #58
I solved my problem immediately above:  The JWT value I was pasting into Postman's environment included a newline character.  Removing that solved the problem.

The error message, `The header content contains invalid characters` is composed not by Postman, but by the underlying **request** library.

See https://github.com/request/request/issues/2632#issuecomment-300392528

[2018-08-29 00:10] GuidoVarga commented on #58
@Sporky023  Great, I'm glad you found the solution. Newlines can generate problems that are difficult to detect

[2018-09-05 10:04] jpidesie commented on #44
When I decoded raise a error of token expired (and yes it is). But I want to get the token decoded, and after, I will check if the token expired or not. I run "jwt-simple": "^0.5.1"

[2018-09-07 03:01] shmilyoo commented on #82
I agree.
in the decode method, all error raised is new Error.
please define the different error separately

[2018-09-11 22:28] M-erb commented on #69
I believe I maybe running into a similar issue. Correct me if I am wrong and I am happy to fix it or report somewhere else. The encode and decode seem work work perfectly, until that is I change the returned token and try to decode it.

Below I have wrapped the decode in a promise with a try catch. Again when I enter a proper token this succeeds with no issues.

[code]

If I for example take that

[2018-10-16 22:50] ivolucien opened #88 "v0.5.3 is a breaking change"
https://github.com/hokaccha/node-jwt-simple/compare/v0.5.1...v0.5.3#diff-e41c65498b26286ad5bf2a9f21ff0722R79

This above code changes the default encoding that breaks callers who depend on the old handling.

In our case the header specifies an encoding *that is not `RS256`* which the new code ignores.

I suggest that you rev the minor version, with an explanation of the change in the README.md

Th

[2018-10-16 23:10] ivolucien commented on #88
I realize that semver would dictate the major version be rev'd for non-backwards compatible changes, but I can imagine you might not want to release v1.0.0 with only that announcement.

[2018-11-26 09:16] hypervtechnics commented on #79
You'd better go with session tokens for this functionality.

[2019-01-11 20:28] igor-peregudov opened #90 "refresh token"
I like your project!
Add plz refresh token bro :)

[2019-01-30 11:04] msageryd commented on #69
I'm using JWT as information carrier for email validation in my app. I would really like to give the user some feedback if the token has expired. As jwt-simple handles expired tokens as an error, I'm thinking of putting the expiration date in a private claim in the token.

This way I'll be able to decode the token without errors and then manually checking the expiration date. Not the nicest soluti

[2019-02-26 19:54] miguelaeh commented on #69
Some time ago I had the same problem. I modified the source code of jwt-simple to identify the error type at the decode. You can see it at https://www.npmjs.com/package/jwt-simple-error-identify

[2019-02-28 08:52] ray0324 opened #91 "decode tokens crash when token is invalid"
When try to decode a invalid token  it that doesn't match jwt format, it crashed
such as
[code]

[2019-03-06 13:07] iubhatt17 commented on #58
I am facing same problem but it is vice versa for my case.Browser is showing unauthorized error in console and when I pass token in postman it is showing propper result.I don't know why my browser is not taking "Authorization" header.Kindly help me with this isssue.

[2019-03-08 12:38] alexjab commented on #91
Hi @ray0324

If you pass an invalid token, `decode` throws an error (it doesn't crash):

[code]

You need to use `try...catch` if you want to properly handle that case.

[2019-03-17 12:19] #91 closed

[2019-03-21 18:58] emmanuelbuah opened #93 "[DeprecationWarning] Fixed Buffer deprecation warning"
Running in node 10+ raises
[code]
From https://nodejs.org/api/buffer.html#buffer_new_buffer_string_encoding, new Buffer() has been deprecated. Please update the code per recommended fix.

[2019-03-30 14:10] hokaccha commented on #93
fixed by https://github.com/hokaccha/node-jwt-simple/pull/89

[2019-03-30 14:10] #93 closed

[2019-04-19 16:07] davidje13 opened #94 "expose header data"
Currently it is possible to extract the payload using `decode`, but this does not include the header information.

For the use-case of a token which specifies the name of a key used to sign it, it is important to be able to extract this key name from the token in advance to know which key to provide to `decode` for verification. Specifically, this relates to Google's "web sign in" JWT (where 2 key

[2019-04-29 18:14] brandonros commented on #10
Any update on this? My preliminary benchmarking in a service consuming this shows the event loop blocked pretty badly.

[2019-06-18 23:21] dtb commented on #94
@hokaccha or @alexjab would you be interested in a PR around this, or do you have any feedback for #72? I'm affected by this as well, and might be able to work on a PR if there was a chance you'd merge it.

[2019-06-19 20:23] katant commented on #90
Наивный...

[2019-07-16 19:38] fendorio commented on #90
A refresh token is just another JWT, with an extended expiry value, as opposed to say, an access token generated at the same time.

[2019-09-09 03:03] ai opened #95 "Add benchmark to docs"
Thanks for the great library. I think benchmark in docs will make it more popular since it few times faster than competitors.

[2019-12-31 23:44] #68 closed

[2020-04-03 17:10] charlax opened #97 "Update types to allow Buffer as key argument"
The current Typescript types do not allow a `Buffer` key argument, even though that's what the example show in the docs.

Thanks!

[2020-07-28 07:19] #82 closed

[2020-11-03 06:56] codefaztaz opened #100 "Error: Signature verification failed"
I have an error signature verification failed

'use strict'

// const jwt = require('jsonwebtoken');
// const fs = require('fs');
var jwt = require('jwt-simple');
var moment = require('moment');
var secret = 'MIIEpAIBAAKCAQEAyVTQ9QxfutaYXKBbYfZbH2vhIWoIPEjAFSbsy1PZoIcclUQRhJ8t2m7v47M8eEyYd7EvXTNdoN6CDs0DoNC9KESATZV5SUVr7sk9pOcMrm0VryAdh7hQbbHWqyKmOehCt1JdX7gV2i5XnRb5qYQSyoB8sGdfR4SQ9q1XPRIpBP8RYXC

[2021-12-21 23:51] ocomsoft opened #102 "Use of Node Buffer in Browser with Vite"
We tried to upgrade our Vue2 to use Vite and found that decode uses Node's Buffer object and Vite doesn't provide this like webpack does so as people upgrade to Vue3 and/or use Vite this package will be incompatible.
Hope this helps.

[2022-02-09 20:44] #102 closed, assigned to nobody

[2022-04-12 12:18] CruseCtrl opened #103 "Allow jwt decode without passing a key"
When using `decode` with `noVerify`, there's no point in passing the key because it's not going to be used. It would make sense if you could call `decode(token)` without passing a key, and it would decode the token without trying to verify it.

At the moment I have to do something like `decode(token, 'dummy_key', true)`, which is a lot more verbose

[2022-04-21 18:13] albertbuchard opened #104 "Library not secure ?"
From what I can see, jwt-simple is not secure against chosen message attacks, why not use crypto.createCipheriv( algorithm, key, iv, options ) ?

Passing a random IV on each request ensures the key is secure.

[2022-11-22 18:18] DevBrent commented on #103
This is a bad idea. By default, decode should *always* verify in order to reduce the chance of incorrectly believing the request is verified. You can also pass `undefined` as your key for this case.